
.title {
    text-align: center;
}

#api-search{
  font-size: 20px;
}

body {
  background-color: 		#fdf5e6;
  opacity: 1;
    transition-duration: 1s;
    transition-property: opacity
}

body.fade {
  opacity: 0;
  background-color: #6b7d25
}


h1 {
  background-color: 	#eee8aa;
}

p {
  width: 200px;
  height: 200px;
  background: rgba(255, 122, 89, .5);
  float:left;
  margin:10px;
}

/* .pictures {
  width: 200px;
  height: 200px;
  float:left;
  margin:30px;
  border-style: solid;
  border-color: #DEB887;
  border-width: 5px;
  
} */

#results {
display: flex;
justify-content: center;
text-align: center;
margin-left: 180px;
margin-top: 100px;

}

.artistName {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-right: 140px;
}


form {
  background-color: 	#ffefd5; }
  
.container{
  position: relative;
  width: 50%;
}

.pictures {
  display: block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #DEB887;
  border-width: 5px;
  float:left;
  margin:0 auto;
  
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;

}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



