
.title {
    text-align: center;
}

#api-search{
  font-size: 20px;
}

h2 {
  background-color: 	#eee8aa;
}

p {
  width: 200px;
  height: 200px;
  background: rgba(255, 122, 89, .5);
  float:left;
  margin:10px;
}

#results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 25px;
}
#results .container{
  width: 25%;
  margin-bottom: 30px;
}

.artistName {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-right: 80 px;
  margin-top: 20px;
}

form {
  background-color: 	#ffefd5; 
}
  
.container{
  position: relative;
  width: 50%;
}

.pictures {
  display: block;
  width: 200px;
  height: 120px;
  border-style: solid;
  border-color: #DEB887;
  border-width: 5px;
  float:left;
  margin:0 auto;
}

.overlay {
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 120px;
  opacity: 0;
  transition: 6s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: .8;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#facts {
  font-size: large;
  text-align: center;
  display: block;
  float:center;
  margin:0 auto;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}
